:root {
  --primery-text-colour: #212121;
  --text-color: #757575;
  --acent: #2196f3;
  --footer-tel-mail-colour: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --main-bg-color: #e5e5e5;
  --section-team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --white: #ffffff;
}
.page {
  color: var(primery-text-colour);
  background-color: var(--main-bg-color);
}
.ul {
  list-style: none;
}
.logo .logo-main {
  color: var(--acent);
}
.logo-part {
  color: var(--primery-text-colour);
}
.logo:hover {
  color: var(--acent);
}
.logo:focus {
  color: var(--acent);
}
.site-nav.link {
  color: var(--primery-text-colour);
}
.site-nav.link:hover,
link:focus {
  color: var(--acent);
}
.nav-auth {
  color: var(--text-color);
}
