.body {
  background-color: #e5e5e5;
  color: #212121;
}
.logo {
}
.logo-main {
  color: #2196f3;
}
.logo-part {
  color: black;
}
/* основные цвета h3 color: #212121; */
/* h1 color: #FFFFFF;*/
/* p color и телефона в хедере: #757575  */
/* acent #2196F3
/* футер адрес белій: мейл и телефон rgba(255, 255, 255, 0.6); */
/* лого color: #000000;  #2196F3 */
/* фон   футера и заголовка #2F303A; /*
/* фон headerй #FFFFFF;/*
/* background:основной #E5E5E5;*/
/* background team #F5F4FA;*/
/* card background #FFFFFF;*/
